<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starcode.schedule_uny">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity
            android:name=".Activity.Main_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Home_activity"
            android:label="@string/title_activity_home_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Setting_Activity"
            android:label="@string/title_activity_setting_"
            android:parentActivityName=".Activity.Home_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityTimePicker.Reminders_Activity"
            android:label="@string/title_activity_reminders_"
            android:parentActivityName=".Activity.Setting_Activity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activity.SettingProfile_Activity"
            android:label="@string/title_activity_profile_"
            android:parentActivityName=".Activity.Setting_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Activity.DetailSchedule_Activity" />
        <activity
            android:name=".Activity.HomeWork_Activity"
            android:label="@string/title_activity_home_work_"
            android:theme="@style/AppTheme2"></activity>
    </application>

</manifest>