<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starcode.skedi">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/skedilogo"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity
            android:name=".Activity.Onboard_Activity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".Activity.Home_activity"
            android:label="@string/title_activity_home_activity"
            android:noHistory="true"
            android:parentActivityName=".Activity.Home_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Setting_Activity"
            android:label="@string/title_activity_setting_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.DetailSchedule_Activity" />
        <activity
            android:name=".Activity.HomeWork_Activity"
            android:label="@string/title_activity_home_work_"
            android:noHistory="true"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Activity.ActivityTimePicker.NotifHomeWork_Activity" />
        <activity android:name=".Activity.SignUpUser_Activity" />
        <activity
            android:name=".Activity.About_Activity"
            android:label="@string/title_activity_about_"
            android:noHistory="true"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activity.Profile_activity"
            android:label="@string/title_activity_profile_activity"
            android:noHistory="true"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Activity.AddHomeWork_Activity" />
        <activity
            android:name=".Activity.DetailHomeWork_activity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Activity.EditHomework_Activity" />

        <receiver android:name=".Receiver.AlertReceiver" />
        <receiver android:name=".Receiver.AlertReceiver2" />
        <receiver android:name=".Receiver.AlertReceiverDayBefore" />
        <receiver android:name=".Receiver.AlertReceiverDayBefore2" />
        <receiver android:name=".Receiver.AlertReceiverMinuteBefore" />
        <receiver android:name=".Receiver.AlertReceiverMinuteBefore2" />

        <activity android:name=".Activity.DayBefore_Activity" />
        <!--<activity android:name=".Activity.Onboard_Activity"></activity>-->
        <activity
            android:name=".Activity.Main_Activity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            ></activity>
    </application>

</manifest>